<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hammer001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,234},{113,120}}</string>
                <key>offset</key>
                <string>{24,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,29},{113,120}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,366},{97,136}}</string>
                <key>offset</key>
                <string>{39,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,7},{97,136}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{99,138}}</string>
                <key>offset</key>
                <string>{87,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,0},{99,138}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,368},{99,136}}</string>
                <key>offset</key>
                <string>{99,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,3},{99,136}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer005.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,234},{105,130}}</string>
                <key>offset</key>
                <string>{112,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,10},{105,130}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer006.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,356},{145,134}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,60},{145,134}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{187,142}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{187,142}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer008.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{211,230}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{211,230}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,220}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{283,220}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
            <key>hammer010.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,234},{113,120}}</string>
                <key>offset</key>
                <string>{24,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,29},{113,120}}</string>
                <key>sourceSize</key>
                <string>{333,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hammer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350b9f97859474d73deb6260a21bcfa8$</string>
            <key>textureFileName</key>
            <string>hammer.png</string>
        </dict>
    </dict>
</plist>
